.eisenhower_matrix {
  display: grid;
  grid-template-columns: 60px 1fr 1fr;
  grid-template-rows: 60px 1fr 1fr;
  gap: 10px;
  max-width: 800px;
  margin: 50px auto;
  font-family: sans-serif;
  text-align: center;
}
.top_label {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
}

.side_label {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content:flex-start;
}

.box h2 {
  margin-bottom: 10px;
}

.box p {
  font-style: italic;
  font-size: 14px;
  margin: 0;
}
.do {
  background-color: #2ecc71; /* Green */
}

.delegate {
  background-color: #e74c3c; /* Red */
}

.decide {
  background-color: #1abcde; /* Blue */
}

.delete {
  background-color: #7f8c8d; /* Gray */
}
.text{
 
  text-align: justify;
  font-family: "Winky Rough", sans-serif;
 display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-left: 1em; 
 


}
.text::before {
  content: "•";
  position: absolute;
  left: 0;
  color: white; 
  font-size: 1.5em; 
  line-height: 1;
}
.list{
 padding-inline-start: 0px;
 width: 100%;
}

.button{
    padding:10px 30px;
    border-radius: 10px;
    background-color: #00A9EC;
    border: none;
    color: white;
  font-family: "Winky Rough", sans-serif;
  font-weight: bold;

}
.button:hover{
   transform: scaleX(1.2);
  transition:
    display 0.7s allow-discrete,
    overlay 0.7s allow-discrete,
    background-color 0.7s;   
}
.btnaction{
    background-color: white;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    padding:0px;
    border: none;
    font-size: 12px;

      margin-left: 5px;
}
.btnaction .right{
  color: #2ecc71;

}
.btnaction .wrong{
  color: red;
}
.btnaction:hover{
  transform: scaleX(1.2);
  transition:
    display 0.7s allow-discrete,
    overlay 0.7s allow-discrete,
    background-color 0.7s;      
}
.achievment{
    width: 100%;

background-color: #88E788;
padding: 20px;
border-radius: 20px;
 display: grid;
  grid-template-columns:  1fr 1fr 1fr;
  grid-template-rows:  1fr 1fr 1fr;
  font-size: 12px;
  


}
.congate{
   color:#e74c3c;
   font-weight: 700;
        font-family: "Oswald", sans-serif;
}
.reset{
  float: right;
  background: #e74c3c;
    border-radius: 5px;
    
    padding:10px;
    border: none;
    font-size: 12px;
color: white;
      margin-left: 5px;
}